
## Последовательности: списки и кортежи

# Списки (`list`)

Давайте представим, что при написании программы нам нужно работать, например, с большой базой данных студентов университета.

Если студентов несколько сотен, нет смысла создавать для каждого отдельную переменную - нам нужно научиться сохранять их всех в одной переменной. Начиная с этого занятия, мы будем изучать типы данных, которые позволяют это делать.

Начнем мы со **списков**. Если вы изучали другие языки программирования, то наверняка знакомы с аналогичным типом данных - массивами. Как и строки, списки - это последовательности, упорядоченные данные.

Давайте для начала попробуем создать список из 3 студентов.

In [ ]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students)
print(type(students))

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
<class 'list'>

In [3]:
# пустого значения у интегера не бывает. как и узначения с плавающей запятой. а у строки может быть:
""
# у списка тоже есть такая возможность

In [4]:
a=[]
a=list()
# это одинаковые вещи
# список может содержать разнородные данные

Пустой список можно создать двумя способами - оператором `[]` и функцией `list()`.

In [ ]:
print([])
print(list())

[]
[]

In [ ]:
a = list()
a

[]

Список может содержать любые данные - например, числа.  
Давайте создадим список оценок студента.

In [ ]:
notes = [6, 5, 7, 5, 8]
print(notes)

[6, 5, 7, 5, 8]

Список может быть даже смешанным. Например, давайте сохраним в одном списке имя студента, его год рождения, средний балл, и логическую переменную, которая будет равна True, если студент учится на бюджете.

In [ ]:
student1 = ['Ivan Ivanov', 1987, 7.5, True]
print(student1)

['Ivan Ivanov', 1987, 7.5, True]

Список может даже содержать другие списки.  
Давайте создадим еще одного студента по аналогии со student1 и положим этих двух студентов в еще один список.

In [ ]:
student2 = ['Maria Smirnova', 1991, 7.9, False]
students = [student1, student2]
print(students)

[['Ivan Ivanov', 1987, 7.5, True], ['Maria Smirnova', 1991, 7.9, False]]

Элементы списков нумеруются, начиная с `0`. Мы можем получить доступ к элементу списка по его индексу.

In [13]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print(students[0]) # первый элемент
print(students[1]) # второй элемент
print(students[-2]) # последний элемент

Ivan Ivanov
Tatiana Sidorova
Tatiana Sidorova

In [5]:
print(students[0])
print(students['Ivan Ivanov']) # вторая строчка не исполнится, тк к элементу внутри списка можно обращаться ток по индексу

NameError: name 'students' is not defined

Ксати, индексация работает и в строках. Там отдельными элементами являются символы.

In [11]:
x = 'слово и буква'
print(x[0], x[-1], x[6])
# если с плюсом - то это слева направо. а если с минусом - то справа налево идет нумерация символов
# если задать значение больше - например 50 - то будет аут оф рендж и выпадет ошибка

с а и

Мы можем узнать длину списка с помощью функции len() (работает и для строк).

In [14]:
print(len(students)) # количество элементов в списке students
print(len(x)) # количество символов в строке x

3
13

Но, в отличие от строк, список можно изменить.

In [ ]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
students

['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

In [15]:
students[0]

'Ivan Ivanov'

In [16]:
students[0] = 'Ian Pile'
students
# а теперь тут будет другое значение, и дальше оно тоже другое тк мы его поменяли

['Ian Pile', 'Tatiana Sidorova', 'Maria Smirnova']

In [ ]:
string = 'ololololol'
string[1] = 'a'

TypeError: ignored

Строки - неизменяемый тип данных, поэтому присвоение символа по индексу не сработает.

Еще одна операция, которая работает со всеми последовательностями - проверка на наличие элемента `in` и `not in`. Возвращает `True` или `False`.

In [17]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']
print('Ivan Ivanov' not in students) # Иван иванов вообще есть в студентах?

False

In [18]:
'ab' in 'aabb' # со строками тоже работает. это про объектное ориентирование в программировании

True

In [19]:
n = [1,2,3,4]
x = 500
x not in n
# print('Petr' not in students[2])
# print(2 in students)

True

Способ расширить список - метод `.append()`, который добавляет аргумент в список в качестве последнего элемента.

In [20]:
a ='a'

a+='bbb'

a

'abbb'

In [21]:
lst = [0, 1, 2, 3, 4, 'cat', 'dog','cat']

lst.append(5) # здесь я именно объект добавляю к списку
print(lst)


lst += [6] # эквивалентное append выражение. но здесь сначала объект кладу в список, а потом списки объединяю. лучше 1 вар
print(lst)

[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5]
[0, 1, 2, 3, 4, 'cat', 'dog', 'cat', 5, 6]

## Task #1

Write a Python program to sum (*multiply) all int/float-items in a list. 

In: `[1, 2, 3, 4, 5, 'one', 'two']`

Out: `15`

In [2]:
#например

color_list = [0.1,"зеленый", 1.6, "белый", 0.3, "черный", 7, "2.0"]
sum = 0
i = 0
for i in color_list:
    if type(i) == float:
        sum += i
        i=i+1
        
# решение:
lst = [1, 2, 3, 4, 5, 'one', 'two']        

i = 0

sssum = 0

len_list = 7 # это длина массива

while i < len_list:
    
    element_list = lst[i]
        
    if type(element_list) == int or type(element_list) == float:
        print(element_list)
        sssum += element_list

    i = i + 1

print()
print(sssum)

1
2
3
4
5

15

## Task #2
Write a Python program to remove duplicates from a list.

In [2]:
#написать программу, которая удаляет дубликаты из списка

input_data = [1, 1, 3, 3, 4, 4]
output_data = [1, 3, 4]

In [3]:
lst = [1, 1, 3, 3, 4, 4]
i=0
output_data = []
while i < len(input_data): # то есть цикл будет работать, пока i <= длины массива
    print (f"Index element {i}, len of list: {len(input_data)}") #напишем это чтобы понимать че там происходит
    #надо проверить есть ли элемент в списке. для этого его надо достать по индексу из массива
    element = input_data[i] #надо проверить, что элемента нет в списке
    not_found = element not in output_data
    if not_found:
        output_data.append(element)
        
    i+=1
    
output_data

Index element 0, len of list: 6
Index element 1, len of list: 6
Index element 2, len of list: 6
Index element 3, len of list: 6
Index element 4, len of list: 6
Index element 5, len of list: 6

[1, 3, 4]

## Task #3
Write a Python program to generate a `3*4*6` 3D array whose each element is `*`

In [5]:
# у нас бывают таблицы. как задать таблицу в виде вложенных списков
# в задаче надо сгенерировать массив из звездочек, он будет с 3 размерностями
#это когда внутри этой таблицы, внутри первого вложенного списка например еще чето будет

[
    [[1], [1], [1], [1], [1]],
    [[2], [2], [2], [2], [2]]

]

[[[1], [1], [1], [1], [1]], [[2], [2], [2], [2], [2]]]

In [12]:
# массивы тоже можно дублировать
# добавляем 3 вложенности и * на 3, 4 и 6 - готово
[[["*"] * 6] * 4] * 3
# так выглядит трехмерный массив - т.н. тензор трехмерный. многомерная матрица
# она нужна в машинном обучении по большей части
# тогда там вместо звездочек какие-то int или float

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

## Task #4

Write a Python program to change the position of every n-th value with the (n+1)th in a list. Go to the editor


Sample list: `[0,1,2,3,4,5]`

Expected Output: `[1, 0, 3, 2, 5, 4]`

In [14]:
#надо инвертировать типо поменять местами 0 и 1, 2 и 3 итд
# нужно пройти по элементам в массиве (как в 1 задаче)
# когда вы идете по эл-там в массиве - если номер эл-та четный,
# то надо совершить какую то операцию, а в противном случае - ниче не совершать

i=0
input_data = [0, 1, 2, 3, 4, 5]


while i < len(input_data):
    print(i)

    fisrt_el = input_data[i]
    second_el= input_data [i+1]
    
    input_data[i] = second_el
    input_data [i+1] = fisrt_el
    i+=2
        
print (input_data)

# if i==0 or i%2==0: - можно не писать, тк если у нас будет + 2 у индекса
# то есть и так и так будет шаг через 1, то есть по четным

0
2
4
[1, 0, 3, 2, 5, 4]

In [15]:
# второй вариант решения: если шаг не 2, а 1

i=0
input_data = [0, 1, 2, 3, 4, 5]


while i < len(input_data):
    print(i)
    
    if i % 2 ==0:

        fisrt_el = input_data[i]
        second_el= input_data [i+1]

        input_data[i] = second_el
        input_data [i+1] = fisrt_el
        
        i+=1
    
    else:
        i+=1
        
print (input_data)

0
1
2
3
4
5
[1, 0, 3, 2, 5, 4]

Удалить элемент из списка можно с помощью метода `.remove()` (без возвращения удаленного элемента) или `.pop()` (с возвращением удаленного элемента).

In [19]:
lst = [0, 1, 2, 3, 4, 'dog', 'cat', 5, 6]

lst.remove('cat') # аргумент - объект, который ходим удалить
print(lst)

[0, 1, 2, 3, 4, 'dog', 5, 6]

In [17]:
lst.pop(0) # аргумент - индекс объекта. Результат операции можно сохранить в переменную
print(lst)
# с каждым выполнением этой команды, список будет сокращаться на 1
# если ничего в аргумент не передать - lst.pop() - то поп удалит последний эл-т массива
# если список закончился и стал пустым - поп не сработает тк нечего удалять

[1, 2, 3, 4, 'dog', 5, 6]

Поиском в списках занимается метод `.index()`, который вернет индекс объекта, переданного в качестве аргумента.

In [25]:
lst

[0, 1, 2, 3, 4, 'dog', 5, 6, 'dog']

In [26]:
print(lst.index('dog')) # индекс возвращает номер первого вхождения

5

In [22]:
lst.append("dog")

In [27]:
print(lst.count('dog')) # посчитать количество эл-тов в списке

2

In [28]:
print(lst.index('dog___')) # индекс эл-та, кот не сущ в списке - ошибка

ValueError: 'dog___' is not in list

In [ ]:
# находим индекс объекта 'dog'
print(lst[lst.index('dog')]) # используем метод, возвращающий индекс, для обращения к объекту
# узнаем индекс элемента в списке - потом узнал значение эл-та по индексу

dog

Если говорить еще о полезных методах, то это `.count()`, который подсчитывает количество элементов и `.reverse()`, который разворачивает список. Ниже еще отдельно поговорим о сортировке.

In [ ]:
b = [1,2,3,4,5]
b.reverse()
b

[5, 4, 3, 2, 1]

In [ ]:
 # считаем количество 'dog' в списке
lst.reverse() # разворачиваем список. Осторожно - метод меняет список!
print(lst)

['dog', 5, 'cat', 'dog', 4, 3, 2]

Все методы списков [здесь](https://docs.python.org/3/tutorial/datastructures.html)

### Сортировки

Отдельно следует рассказать про метод **`sort()`**. Метод производит сортировку списка.
Задачи сортировки - очень распространены в программировании. 
В общем случае, они сводятся к выстроению элементов списка в заданном порядке.
В `Python` есть встроенные методы для сортировки объектов для того, чтобы программист 
мог не усложнять себе задачу написанием алгоритма сортировки. 
Метод **`list.sort()`** - как раз, один из таких случаев.

In [29]:
test_list = [5, 8, 1, 4, 3, 7, 2]
print(test_list)  # Элементы списка расположены в хаотичном порядке
test_list.sort()
print(test_list)  # Теперь элементы списка теперь расположены по возрастанию
# после применения сортировки - исходного списка нигде не хранится в памяти,
# на его месте лежит его копия, но уже отсортированная
# это называется сортировка in place. как бы просто заменяется
# поэтому есть другие методы, которые позволяют делать эту сортировку не ин плейс
# они дальше будут - позволяют держать в памяти обе копии

[5, 8, 1, 4, 3, 7, 2]
[1, 2, 3, 4, 5, 7, 8]

In [34]:
test_list.sort(reverse = True) # чтобы развернуть - надо передать туда аргумент
# аргумент реверс, и его значение - тру. по дефолту - реверс фолс

# если в списке лежат строки - то сортировка будет по алфавиту
# лексикографический порядок - он для букв, спецсимволов и чисел.
#сначала символы, потом числа, потом буквы - причем по первому разряду

In [33]:
test_list

[8, 7, 5, 4, 3, 2, 1]

Таким образом, метод **`list.sort()`** упорядочил элементы списка test_list
Если нужно отсортировать элементы в обратном порядке, то можно использовать именнованный параметр reverse.

In [ ]:
test_list.sort(reverse=True)  # параметр reverse указывает на то, что нужно отсортировать список в обратном порядке
print(test_list)

[8, 7, 5, 4, 3, 2, 1]

Следует обратить внимание, что метод **`list.sort()`** изменяет сам список, на котором его вызвали. 
Таким образом, при каждом вызове метода "**`sort()`**", наш список `test_list` изменяется. 
Это может быть удобно, если нам не нужно держать в памяти исходный список. 
Однако, в противном случае, или же - в случае неизменяемого типа данных (например, кортежа или строки) - 
этот метод не сработает. В таком случае, на помощь приходит встроенная в питон функция **`sorted()`**

In [ ]:
test_list = [8, 7, 4, 3, 5, 2, 1]

In [35]:
print(sorted(test_list))  # Сам список при сортировке не изменяется

[1, 2, 3, 4, 5, 7, 8]

In [36]:
test_list # остался несортированным - то есть сортед работает не ин плейс

[8, 7, 5, 4, 3, 2, 1]

In [39]:
# можно записать его в какую то переменную
test_test_list = sorted (test_list)
print (test_test_list)

[1, 2, 3, 4, 5, 7, 8]

Так как `sorted()` функция, а не метод, то будет работать и с другими типами данных.

In [40]:
print(sorted('something')) #если просто строку сортировать,
#то я получу на выходе список посимвольный

['e', 'g', 'h', 'i', 'm', 'n', 'o', 's', 't']

In [ ]:
# обратная конвертация
# print(sorted('something')) отсортирует буквы в строке, но выведет список
print(''.join(sorted('something'))) # с помощью метода join можно собрать отсортированную строку, чуть ниже подробнее про него
#тут мы это сделали через 0-ю строчку, это не пробел а просто ничего

eghimnost

In [44]:
"&&&".join(["df", "fd", "gh"]) # я буду использовать эту строчку как сепаратор для каких-нибудь элементов в массиве
#  и буду их таким образом объединять

'df&&&fd&&&gh'

У функции `sorted()`, как и у метода `list.sort()` есть параметр `key`, 
с помощью которого можно указать функцию, которая будет применена к каждому элементу 
последовательности при сортировке.

In [46]:
test_string = 'A string With upper AND lower \n cases'

In [52]:
test_string_splitted = test_string.split() 
test_string_splitted
#мы взяли строчку, посмотрели где здесь пробелы
# по пробелам сделали список токенов - когда с текстом работаешь это попадается

In [53]:
# теперь можно слова отсортировать
print(sorted(test_string.split())) # заглавные буквы получили приоритет над строчными

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [54]:
# или так , если присвоить значение переменной
print(sorted(test_string_splitted))

['A', 'AND', 'With', 'cases', 'lower', 'string', 'upper']

In [ ]:
# это мы пока выкинули, но это вроде про изменение регистров у букв
'aa546327'.upper()

'AA546327'

In [ ]:
print(sorted(test_string.split(), key=str.upper)) # все буквы были приведены к верхнему регистру, сортировка получилась по алфавиту

['A', 'AND', 'cases', 'lower', 'string', 'upper', 'With']

# Кортежи (tuple)

Кортежи очень похожи на списки.

In [ ]:
# кортеж, как и строчка - объект не изменяемый
student = ('Ivan Ivanov', 2001, 7.5, True)
print(student)
print(type(student))

('Ivan Ivanov', 2001, 7.5, True)
<class 'tuple'>

Пустой кортеж можно создать с помощью оператора () либо функции tuple.

In [ ]:
print(())
print(tuple())
# зачем создавать пустой кортеж, если его нельзя изменить? хороший вопрос. хз

()
()

In [ ]:
x = tuple()
x

()

In [ ]:
student

('Ivan Ivanov', 2001, 7.5, True)

Основное отличие кортежей от списков состоит в том, что кортежи нельзя изменять (да-да, прямо как строки).

In [ ]:
student[1] = 2002
# вот нельзя присвоить новое значение, вместо 2001

TypeError: ignored

Списки и кортежи могут быть вложены друг в друга.  
Например, пусть в информации о студенте у нас будет храниться не его средний балл, а список всех его оценок.

In [1]:
student = ('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)
print(student)
# если внутри тупла есть список - с ним все еще можно работать, тк список - изменяемый

('Ivan Ivanov', 2001, [8, 7, 7, 9, 6], True)

In [2]:
student[2][0] = 6347282
# обрщаюсь ко 2 эл-ту - к списку - и хочу туда положить вот это

In [3]:
student
# так я изменил кортеж - одну его составную часть то есть. интегер я не смогу поменять внутри кортежа, как и строчки

('Ivan Ivanov', 2001, [6347282, 7, 7, 9, 6], True)

In [4]:
student = ('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)
print(student)
# если у меня будет внутри кортежа кортеж, я его тоже не смогу поменять

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

Мы можем обратиться к элементу вложенного списка или кортежа с помощью двойной индексации.

In [5]:
student

('Ivan Ivanov', 2001, (8, 7, 7, 9, 6), True)

In [6]:
print(student[2][1]) # получили вторую оценку

7

Иногда бывает полезно обезопасить себя от изменений массивов данных и использовать кортежи, но чаще всего мы все-таки будем работать со списками.

# Task #5

Write a Python program to add an item in a tuple.

In [4]:
tuple_f = (1, 3, 4, 5, 10) #у меня есть исходный тупл, кот содержит 5 эл-в

element = 777 # есть эл-т, который я хочу добавить

list_f = list(tuple_f) #я превращаю исходный тупл в список. как инт в стр итд
list_f.append(element) #к лист ф я добавил элемент через аппенд

new_tuple = tuple(list_f) # а потом превратил список обратно в тупл

new_tuple

(1, 3, 4, 5, 10, 777)

In [3]:
tuple_f += (element, ) # запятая в тупле - потому что тупл с 1 элементом может ток так выглядеть
tuple_f

# мы объединили тупл, положили этот Элемент в другой тупл

(1, 3, 4, 5, 10, 777)

In [7]:
# еще можно решить через вайл. он немножко костыльный

i=0
new_tuple = []
while i < len(tuple_f):
    el = tuple_f[i]
    new_tuple.append(el)
    i += 1
# послеэ того перекладывания тупла в массив:

new_tuple.append (element)

new_tuple = tuple (new_tuple)

new_tuple

(1, 3, 4, 5, 10, 777)

# Task #6

Write a Python program to sort a tuple by its float element.

Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`

Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [10]:
# на дом

sample_data = [
    ('item1', '12.20'),
    ('item2', '15.10'),
    ('item3', '24.5'),
]

print ("Sample data: ", sample_data)

sample_data.sort(reverse = True)

print ("Output data: ", sample_data)

Sample data:  [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Output data:  [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

# Task #7

Write a Python program to compute element-wise sum of given tuples.

Original lists:

`(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)`

Element-wise sum of the said tuples:

`(6, 9, 8, 6)`

In [8]:
# на дом

or_tup0 = (1, 2, 3, 4)
or_tup1 = (3, 5, 2, 1)
or_tup2 = (2, 2, 3, 1)

print ("Original tuples: \n", or_tup0, "\n", or_tup1, "\n", or_tup2)

list_f = []

or_tup0 = list (or_tup0)
or_tup1 = list (or_tup1)
or_tup2 = list (or_tup2)

i=0
for i in range(len(or_tup0)):
    t = or_tup0 [i] + or_tup1 [i] + or_tup2 [i]
    list_f.append(t)

el_wise_sum = tuple (list_f)
print("\n Element-wise sum of the said tuples: ", el_wise_sum)

Original tuples:
 (1, 2, 3, 4)
 (3, 5, 2, 1)
 (2, 2, 3, 1)

 Element-wise sum of the said tuples:  (6, 9, 8, 6)


# Опасность работы с изменяемыми типами данных

В работе со списками есть важный момент, на который нужно обращать внимание. Давайте рассмотрим такой код:

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
b[0] = 4

In [ ]:
print(a)
print(b)
# у меня поменялся не ток массив б, но и массив а

[4, 2, 3]
[4, 2, 3]

Почему так происходит?  
Дело в том, что переменная a ссылается на место в памяти, где хранится список [1, 2, 3]. И когда мы пишем, что `b = a`, `b` начинает указывать на то же самое место. То есть образуется два имени для одного и того же кусочка данных. И после изменения этого кусочка через переменную `b`, значение переменной `a` тоже меняется!

Как это исправить? Нужно создать копию списка a! В этом нам поможет метод `.copy()`

In [ ]:
a = [1, 2, 3]
b = a.copy() # теперь переменная b указывает на другой список, который хранится в другом кусочке памяти
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

Копию можно создавать и с помощью пустого среза

In [ ]:
a = [1, 2, 3]
b = a[:] # по умолчанию берется срез от первого элемента до последнего, то есть копируется весь список a
# двоеточие - тоже самое что копия массива в памяти, как и через .копи()
b[0] = 4
print(a, b)

[1, 2, 3] [4, 2, 3]

In [ ]:
a = [1, 2, 3]

[1, 2, 3]

Но не путайте изменение с присваиванием!

In [ ]:
a = [1, 2, 3]

In [ ]:
b = a

In [ ]:
a = [4,5,6]

In [ ]:
print(a)

[4, 5, 6]

In [ ]:
print(b) # б не изменится, тк у него в памяти - старое значение, до изменения переменной а

[1, 2, 3]

В примере выше переменная a была не изменена, а перезаписана, она начала указывать на другой список, хранящийся в другом месте памяти, поэтому переменная b осталась нетронута.

### Конкатенация списков и кортежей

На списках и кортежах определен оператор +. По аналогии со строками, он будет склеивать две части выражения.

Но складывать можно только данные одного типа, список с кортежом склеить нельзя.

In [ ]:
print([1, 2] + [3, 4])
print((1, 2) + (3, 4))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [ ]:
[1,2] *2

[1, 2, 1, 2]

In [ ]:
print((1, 2) + [3, 4]) # а так нельзя

TypeError: ignored

Но можно превратить список в кортеж, а потом сложить (или наоборот).

In [ ]:
print(list((1, 2)) + [3, 4])
print((1, 2) + tuple([3, 4]))

[1, 2, 3, 4]
(1, 2, 3, 4)

In [ ]:
x = tuple()
x

()

# Методы .split(), .join(),  функция map(), вывод и ввод списков

При работе со списками довольно часто нам придется вводить их и выводить в отформатированном виде. Сейчас мы рассмотрим несколько методов, которые помогут сделать это в одну строку.

### Метод .split()

Метод строки .split() получает на вход строку-разделитель и возвращает список строк, разбитый по этому разделителю.

По умолчанию метод разбивает строку по пробелу

In [ ]:
print('Hello darkness my old friend     !#$@%$^#         bhfdsajklfgdsajk'.split())

['Hello', 'darkness', 'my', 'old', 'friend', '!#$@%$^#', 'bhfdsajklfgdsajk']

In [ ]:
print('Ночь. Улица. Фонарь. Аптека'.split('. '))

['Ночь', 'Улица', 'Фонарь', 'Аптека']

### Метод .join()

Метод .join() ведет себя с точностью до наоборот - он склеивает массив в строку, вставляя между элементами строку-разделитель.

In [ ]:
print('-'.join(['8', '800', '555', '35', '35']))

8-800-555-35-35

### Функция map()

Функция map() берет функцию и последовательность и применяет эту функцию ко всем ее элементам (map() всегда будет ожидать от вас два аргумента).

Обратите внимание, чтобы увидеть результат работы этой функции надо дополнительно вручную преобразовать в список (или в кортеж, в зависимости от ваших целей).

In [8]:
print(map(bool, [9, 0, 8, -288, 998, 0])) # не совсем то, что надо
# я хочу проверить каждое значение внутри списка на ф-ю бул
# ф-я бул отвечает на вопрос о том, во что превратится в тру или фолс элемент
#9 в тру, 0 в фолс, отриц.значения в тру

<map object at 0x0000021F611E20D0>

In [11]:
bool (9), bool (0), bool (8), bool (-288), bool (998), bool (0)

(True, False, True, True, True, False)

In [ ]:
# мап обджект = генератор. до них мы потом доберемся. 
# действие еще не выполнилось, я еще не прошел по массиву и не применил к каждому эл-ту функцию бул
# ф-я мап должна применить ф-ю Бул ко всем значениям в списке
# он напринтил мап обжект - тк это генератор. т.е. комп запомнил что это надо сделать
# но еще это не сделал, он это будет делать по требованию
# для этого надо перед мапом написать Лист

In [13]:
print(list(map(bool, [9, 0, 8, -288, 998, 0]))) # а теперь работает, каждое число преобразовалось в логическую переменную

[True, False, True, True, True, False]

In [15]:
print(list(map(str, [9, 0, 8, -288, 998, 0])))
# теперь это список, кот состоит не из интегеров, а из строчек
# то есть тип поменяли - можно и на флоат, тогда все будет 9.0
# функции посложнее будут потом

['9', '0', '8', '-288', '998', '0']

### Ввод и вывод списков

Теперь мы можем быстро вводить и выводить списки, содержащие разные данные через разные разделители.

In [16]:
phone = input().split() # получаем строку, разбиваем по пробелу, сразу преобразуем все элементы в числа
print(phone)
print('-'.join(phone)) # преобразуем массив чисел в массив строк и склеиваем через дефис

8 950 777 11 99
['8', '950', '777', '11', '99']
8-950-777-11-99

Также, если нет задачи сохранить результат в переменную в виде строки, вместо join() можно использовать распаковку. 
Мы ставим оператор * перед списком, и, например, функция print() будет воспринимать его не как список, а как последовательность объектов.

In [17]:
phone

['8', '950', '777', '11', '99']

In [22]:
print (phone, sep='-') # не работает, получили список. надо добавить *
# тк тут phone - это  1 объект, с кот работает принт
# принт умеет выводить в консоль списки одним объектом. он и вывел 1м объектом
print (phone, ['44', [88]], sep='-')  # он через дефис выводит список и список,
#  а не элементы внутри списка

['8', '950', '777', '11', '99']
['8', '950', '777', '11', '99']-['44', [88]]

In [19]:
print(*phone, sep='-') # теперь сработало. По сути, распакованный список питон видит как в примере ниже
print(phone[0], phone[1], phone[2], phone[3], phone[4], sep='-')
# звездочка разворачивает все элементы в списке

8-950-777-11-99
8-950-777-11-99

# Home Tasks

## Task #1

Write a Python program to get the difference between the two lists. 

*Example 1.*

In: `[1, 2, 3]` `[2, 2, 3]`

Out: 

`Elements with index 0 are defferent: list1[0]: 1, list2[0]: 2`

*Example 2.*

In: `[1, 2, 3, 5]` `[2, 2, 3, 6]`

Out: 

`Elements with index 0 are defferent: list1[0]: 1, list2[0]: 2`

`Elements with index 3 are defferent: list1[3]: 5, list2[3]: 6`

In [36]:
#Example 1

list1 = [1, 2, 3]
list2 = [2, 2, 3]

print ("Input data: ", list1, list2)

i=0
for i in range(len(list1)):
    if list1[i] != list2[i]:
        print (f"Elements with index {i} are different: list1[{i}]: {list1[i]}, list2[{i}]: {list2[i]}")

Input data:  [1, 2, 3] [2, 2, 3]
Elements with index 0 are different: list1[0]: 1, list2[0]: 2

In [37]:
#Example 2

list1 = [1, 2, 3, 5]
list2 = [2, 2, 3, 6]

print ("Input data: ", list1, list2)

i=0
for i in range(len(list1)):
    if list1[i] != list2[i]:
        print (f"Elements with index {i} are different: list1[{i}]: {list1[i]}, list2[{i}]: {list2[i]}")

Input data:  [1, 2, 3, 5] [2, 2, 3, 6]
Elements with index 0 are different: list1[0]: 1, list2[0]: 2
Elements with index 3 are different: list1[3]: 5, list2[3]: 6